////////////////////////////////
///////// Memories /////////////

.overflow-scroll {
  max-height: 100px;
  overflow: auto;
  background-color: rgba(#757575, 0.2);
}

.memory {
  width: 96%;
  margin: 2%;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  background-color: rgba(#4db6ac, .90);
}


#photos {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;
}

#photos .img-card {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

.img-card {
  position: relative;

  h6 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: white;
    text-align: center;
    background-color:   rgba(#757575, 0.8);
  }
}
