////////////////////////////////
///////// Memories /////////////

.overflow-scroll {
  max-height: 100px;
  overflow: auto;
  background-color: rgba(#757575, 0.2);
}

.memory {
  width: 96%;
  margin: 2%;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  background-color: rgba(#4db6ac, .90);
}


#photos .img-card {
  /* Just in case there are inline attributes */
  max-width: 200px;
  height: auto !important;
}

.img-card {
  position: relative;

  h6 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: white;
    text-align: center;
    background-color:   rgba(#757575, 0.8);
  }

  img {
    max-width: 200px;
  }
}
