@import "accomodations";
@import "mock-modal";
@import "more-info";
@import "rsvp";
@import "share";

footer {
  .row {
    margin: 0 !important;
    padding: 0 !important;
  }
}

.small-logo {
  font-size: 1.5em !important;
}
