<div class="container">
  <h4 class="center">Hotels</h4>

  <div class="hotel-main-container">
    <section class="hotel-info z-depth-2">
      <img src="/img/the_mill_cottages.jpg" alt="">
      <h6>The Mill at Fine Creek Cottages</h6>
      <p>Prices from $180 (per night)</p>
      <p>7 miles</p>
      <a href="http://www.themillatfinecreek.com/our-cottages/">Go to hotel page.</a>
    </section>

    <section class="hotel-info z-depth-2">
      <img src="/img/wingate.jpg" alt="">
      <h6>Wingate by Wyndham Richmond Short Pump</h6>
      <p>Prices from $160 (per night)</p>
      <p>18.8 miles</p>
      <a href="https://www.wyndhamhotels.com/wingate/richmond-virginia/wingate-by-wyndham-richmond-short-pump/overview?cid=fe:wg:20161215:tabl:pp:winus:30497&tel=18003370070">Go to hotel page.</a>
    </section>

    <section class="hotel-info z-depth-2">
      <img src="/img/stay_america.jpg" alt="">
      <h6>Extended Stay America - West End</h6>
      <p>Prices from $80 (per night)</p>
      <p>24 miles</p>
      <a href="http://www.extendedstayamerica.com/hotels/va/richmond/west-end-i-64?mid=tabl-promo-trips1213-COX">Go to hotel page.</a>
    </section>
  </div>


  <div class="hotel-main-container">
    <section class="hotel-info z-depth-2">
      <h6>Other Hotels - Short Pump Area</h6>
      <br>
      <a href="https://www.tripadvisor.co.nz/Hotels-g58087-Powhatan_Virginia-Hotels.html">Check out more hotels.</a>
    </section>

    <section class="hotel-info other-options z-depth-2">
      <h6>Other Options</h6>
      <p>On Airbnb, there is one bed and breakfast that has 5 bedrooms and is a 5 minute walk! There are also options close by starting at $40. And there is even an Alpaca farm!</p>
      <a href="https://www.airbnb.co.nz/s/4226-michaux-grant-rd--Powhatan--VA--United-States?guests=1&adults=1&children=0&infants=0&checkin=01-07-2017&checkout=02-07-2017&source=bb&allow_override%5B%5D=&page=1&ss_id=bwp7h0z1">Check out more local options.</a>
    </section>
  </div>


  <section class="hotel-info after-hotel z-depth-2">
    <h6>After you book your reservation...</h6>
    <p>We are working on having a bus stop at a couple hotel locations to drive party guests, so please let us know where you are staying, if you will need transport.</p>
  </section>

  <section class="padding-top-bottom">
    <h4 class="center padding-above">Transportation</h4>
    <p class="hotel-info after-hotel transportation z-depth-2">There will be parking, but if you are drinking - we ask you not to drive. We are working on organizing a bus and/or designated drivers, please let us know if you will need their services. If you can drive others, please carpool. We also have plenty of places to set up camp if you want to bring a tent and have a Mudcat camp out!</p>
  </section>

</div>
