<div class="container">
  <div ng-repeat="guest in guests">
    <p>{{guest.firstName}} {{guest.lastName}} </p>
    <p>{{guest.email}}</p>
  </div>
</div>

<table class="highlight striped">
        <thead>
          <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Item Price</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="guest in guests">
            <td>{{guest.firstName}} {{guest.lastName}}</td>
            <td>{{guest.email}}</td>
            <td>$0.87</td>
          </tr>
        </tbody>
      </table>
