 <div class="container">

   <table class="striped highlight">
      <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Need Pet Friendly?</th>
            <th>Out of town?</th>
            <th>Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="guest in guests">
          <td width="5%">{{$index + 1}}</td>
          <td width="20%">{{guest.firstName}} {{guest.lastName}}</td>
          <td width="20%">{{guest.email}}</td>
          <td width="10%">{{guest.needPetFriendly ? "Yes" : "No"}}</td>
          <td width="10%">{{guest.outOfTown ? "Yes" : "No"}}</td>
          <td width="30%">{{guest.notes}}</td>
        </tr>
      </tbody>
    </table>
</div>
