<div id="side-nav" class="hide-on-med-and-down">
  <li ng-click="scrollTo('story')">Their Story</li>
  <li ng-click="scrollTo('gallery')">Gallery</li>
  <li ng-click="scrollTo('playlist')">Playlist</li>
</div>

<div class="container">
  <div class="share-section story" id="story">
    <h4 class="center">Their Story</h4>
    <section>
      <h5>The Beginning</h5>
      <p><em>How does romance begin? Did they see each other from across the room and just know they were the one? Well, no. The opposite actually.</em></p>
      <p>They met on a blind date, where Scott actually got pepper in his eye and went temporarily blind... Giving a whole new meaning to blind dates. After a wreck of a date, they decide not to pursue the romance.</p>
      <p>It’s not till the wedding of the two people who set them up did they discover the true potential… while dancing on a table. For anyone who knows our parents, this was very predictable and the perfect way to start their relationship. </p>
    </section>
    <section>
      <h5>The Engagement</h5>
      <p><em>As you can tell from their ...humble… beginnings, Cindy & Scott’s story reads just like a Nicholas Sparks novel. Just straight romance (not!). Their engagement story is no different.</em></p>
      <p>Scott knew Cindy was the one and was planning the dream proposal for quite some time. His plan involved a river boat in spring and was planned to a T. Until Cindy gave him the ultimatum… Propose by Christmas or she was out. Always eager and impatient that Cindy.</p>
      <p>Forced to expedite his plans, he sought out the perfect spot in the botanical gardens to propose on Christmas Eve. This plan also failed when mother nature intervened and poured down rain.</p>
      <p>Scott could not be deterred, so he brought her to a fancy restaurant. However there was an hour wait, and we have already reviewed how Cindy is rather impatient.</p>
      <p>So to plan D, gas station pizza. They grabbed a pizza, he slipped the ring in her jean jacket and the rest is history.</p>
    </section>
    <section class="others-memories">
      <h5>What Their Friends and Family Have to Say</h5>
      <section class="overflow-scroll">
        <div class="memory" ng-repeat="memory in memories">
          <p class="memory-text">{{memory.memory}}</p>
          <p ng-if="memory.submittedBy">Submitted by: {{memory.submittedBy || "Anonymous"}}</p>
        </div>
      </section>
    </section>
    <section class="sharing-input">
      <h5>Want to add your memories of their love story?</h5>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="share-memory" ng-model="memory.memory" class="materialize-textarea"></textarea>
          <label for="share-memory">Share your favorite Scott and Cindy memory:</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s7 m6 offset-m2">
          <input id="share-memory-name" type="text" ng-model="memory.submittedBy" class="validate">
          <label for="share-memory-name">Submitted By:</label>
        </div>
        <div class="col s5 m3">
          <button type="button" ng-click="submitMemory()" class="btn hide-on-small-only">Add it!</button>
          <button type="button" ng-click="submitMemory()" class="btn hide-on-med-and-up">Add!</button>
        </div>
      </div>
    </section>
  </div>

  <div class="share-section" id="gallery">
    <h4 class="center">Gallery</h4>
    <div id="photos">
      <div class="img-card" ng-repeat="photo in photos">
        <img ng-src="{{photo.imageURL}}" alt="">
        <h6 ng-if="photo.submittedBy"> Submitted by: {{photo.submittedBy || "Anonymous"}}</h6>
      </div>
    </div>
    <section class="sharing-input hide-on-small-and-down">
      <h5>Want to add your memories with Scott and Cindy?</h5>
      <div class="file-field input-field">
        <div class="btn">
          <span>Select Pictures</span>
          <input type="file" multiple ngf-select ng-model="images" ngf-multiple="true">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Upload one or more files">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 offset-s2">
          <input id="share-image-name" type="text" ng-model="image.submittedBy" class="validate">
          <label for="share-image-name">Submitted By:</label>
        </div>
        <div class="col s2">
          <button type="button" ng-click="submitPictures()" class="btn">Share!</button>
        </div>
      </div>
    </section>
  </div>

  <div class="share-section" id="playlist">
    <h4 class="center">The Playlist</h4>
    <section class="playlist">
      <div class="col s12 center" ng-repeat="song in songs">
        <p><i class="material-icons small">queue_music</i>{{song.song}} <span class="submitted-by">Submitted By: {{song.submittedBy || "Anonymous"}}</span></p>
      </div>
    </section>

    <section class="sharing-input">
      <h5>Want to add your favorite Scott and Cindy Song to their playlist?</h5>
      <div class="row">
        <div class="input-field col s12">
          <input id="share-song"  type="text" ng-model="song.song"></input>
          <label for="share-song">Share your favorite Scott and Cindy song:</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s7 m6 offset-m2">
          <input id="share-song-name" type="text" ng-model="song.submittedBy" class="validate">
          <label for="share-song-name">Submitted By:</label>
        </div>
        <div class="col s5 m3">
          <button type="button" ng-click="submitSong()" class="btn hide-on-small-only">Rock it!</button>
          <button type="button" ng-click="submitSong()" class="btn hide-on-med-and-up">Add!</button>
        </div>
      </div>
    </section>
  </div>
</div>
