<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <br><br>
      <h1 class="header center white-text shrink-on-down">Scott & Cindy's 30th Anniversary Party</h1>
      <h4 class="header center white-text">Saturday, July 1st 2017</h4>
      <br><br>
      <div class="row center">
        <a ng-href="#/rsvp" class="btn-large waves-effect waves-light teal lighten-1">RSVP</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img ng-src="../img/background1.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">star</i></h2>
          <h5 class="center">It's a surprise!</h5>
          <p class="light">Shhh… don’t tell Cindy or Scott! We would love to surprise the couple with all their love ones gathering together to celebrate their love.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Family & Friends</h5>
          <p class="light">The more, the merrier! They have touched many lives, so if you know someone who would love to party and surprise our parents - let us know!</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">favorite</i></h2>
          <h5 class="center">Celebrate 30 Years</h5>
          <p class="light">Can you believe it?! They still might act like love-struck teenagers, but these love bugs have been together for 30 years. A milestone worth celebrating.</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">It's time to get wild with the couple we all know and love.</h5>
      </div>
      <br><br>
      <br><br>
      <div class="row center">
        <a ng-href="#/share" class="btn-large waves-effect waves-light teal lighten-1">Add to the Love</a>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="img/background2.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>What's Happenin'</h4>
        <p class="center light">As you must know, the Morrisons love a party. Help us gather together to celebrate together! There will be a big celebration Saturday and it would mean so much for you to be there.</p><p class="light">In Mudcat tradition, the party won’t last just one day. For those who can join us for more, we will be organizing river floats and time by the pool all weekend.</p> <p class="light">As the Mudcat motto goes, “I survived, but my dignity didn’t”.</p>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
      </div>
    </div>
  </div>
  <div class="parallax"><img src="img/background4.jpg" alt="Unsplashed background img 3"></div>
</div>
